.addbg{
    /* background-image: linear-gradient(to right, #fc5c7d, #6a82fb); */
    /* background-image: url("https://img.freepik.com/premium-vector/abstract-polygonal-pattern-luxury-golden-line-with-dark-blue_41981-1216.jpg?w=900"); */
    color: white;
    backdrop-filter: blur(5px);
    border: 3px solid white;
    background-size: cover;
    border-radius: 10px;
}

.form-group{
    font-size: 30px;
    font-weight:bold;
    /* display: flex; */
    font-family: monospace;
    justify-content: flex-end;
}


.add svg{
    border-radius: 90px;
    position: absolute;
    top: 50%;
    left: 44%;
    width: 200px !important;
    height: 200px !important;
    display: flex;

}

.forminput input,
.forminput select{
    /* padding: 10px; */
    margin: 10px;
    border: 4px solid transparent;
    /* border-image: linear-gradient(to right, green, lightgreen);  */
    border-image: url("https://img.freepik.com/free-vector/dark-wavy-colors-background_23-2148403785.jpg?ga=GA1.1.1161449929.1704814302&semt=ais_hybrid");
    border-image-slice: 1; 
    border-radius: 10px;
}

.forminput input:focus,
.forminput select:focus{
    padding: 10px;
    border: 4px solid black;
}