html,
body {
    height: 100%;
}

body {
    background-image: url("../../Assests/naturebg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.tiles {
    background-image: url("https://images.unsplash.com/photo-1489861518096-4d12b732e831?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTl8fGdyYWRpZW50JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-style: normal;
}


.tiles:hover {
    color: red;
    cursor: pointer;
    z-index: 1;
    box-shadow: 8px 12px #7ce6fd;
    transform: scale(1.05);
}

.tiles label {
    color: white;
    font-weight: bolder;
}

.tiles span {
    color: white;
}

.delete-icon {
    padding: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.delete-icon :active {
    transform: scale(1.5);
}

.delete-anime {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.button {
    background-color: transparent;
    border: 0px;
    width: 100px;
}


.animate{
    animation: fadeout 0.5s ease forwards;
}

@keyframes fadeout{
    from{
        opacity: 1;
        transform: translateX(0px);

    }
    to{
        opacity: 0;
        display: none;
        transform: translateX(100%);
    }
}