html,
body {
    height: 100%;
}

body {
    background-image: url("https://img.freepik.com/premium-vector/serene-mountain-lake-with-morning-mist_907300-860.jpg?w=1060");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.tiles {
    background-image: url("https://i.pinimg.com/236x/f9/54/51/f95451dbf0b21a309907c1fb3c671fce.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-style: normal;
}


.tiles:hover {
    color: red;
    cursor: pointer;
    z-index: 1;
    transform: scale(1.05);
}

.tiles label {
    color: white;
    font-weight: bolder;
}

.tiles span {
    color: white;
}

.delete-icon {
    padding: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.delete-icon :active {
    transform: scale(1.5);
}

.delete-anime {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.button {
    background-color: transparent;
    border: 0px;
    width: 100px;
}


.animate {
    animation: fadeout 0.5s ease forwards;
}
.spinner {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#474bff 94%,#0000) top/14.1px 14.1px no-repeat,
           conic-gradient(#0000 30%,#474bff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.1px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
 }
 
 @keyframes spinner-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
 }
@keyframes fadeout {
    from {
        opacity: 1;
        transform: translateX(0px);

    }

    to {
        opacity: 0;
        display: none;
        transform: translateX(100%);
    }
}